
@dominColor: var(--dominColor);

div.handsock-user-center {
    div.userinfo-box {
        width: 100%;
        margin-top: 5px;

        div.avatar-box {
            width: inherit;
            display: flex;
            justify-content: center;
        }

        div.el-upload {
            width: 75px;
            height: 75px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            border-radius: 6px;

            div.el-image {
                width: 100%;
                height: 100%;
            }

            div.trigger {
                left: 0;
                bottom: 0;
                z-index: 2;
                width: 100%;
                height: 26px;
                font-size: 14px;
                color: #ffffff;
                line-height: 26px;
                text-align: center;
                position: absolute;
                background-color: rgba(5, 160, 150, 0.75);
            }
        }

        ul.el-upload-list {
            display: none;
        }

        div.nick-box {
            height: 24px;
            display: flex;
            margin-top: 20px;
            align-items: center;
            justify-content: center;

            span.nick {
                font-size: 18px;
                font-weight: 700;
            }

            i.edit-icon {
                cursor: pointer;
            }

            div.button-sheet {
                margin-left: 10px;
            }
        }
    }

    div.notice-box {
        width: 300px;
        margin: 0 auto;
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }
}