
div#m-settings {
    width: 100%;
    overflow: hidden;

    div.tab-b {
        width: 100%;
        height: 240px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 15px 10px;
        width: calc(100% - 30px - 0.5rem);

        div.el-empty {
            width: 100%;
            height: 200px;
            padding: 0!important;

            div.el-empty__image {
                width: 140px;
                height: 140px;
            }
        }
    }
}

div.van-tabs__wrap {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #F2F6FC;
}

div.van-tabs__nav {
    display: flex;
    background: unset;
    padding-bottom: 0;
    align-items: center;
}

div.van-tab {
    margin: 10px 0;
}

div.van-tabs__nav--line {
    height: 40px;
}

.van-tab--active {
    color: var(--dominColor);
}

div.van-tabs__line {
    top: 32px;
    background: var(--dominColor);
}

span.van-tab__text {
    font-size: 15px;
}

div.van-tabs__track {
    border-radius: 0.25rem;
    width: calc(100% - 1rem);
    border: 0.5rem solid rgba(255, 255, 255, 0.35);
}

.van-tabs__nav--line.van-tabs__nav--shrink, .van-tabs__nav--line.van-tabs__nav--complete {
    padding-left: unset;
}