
div.chat-function {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--el-box-shadow-light);
    background-color: rgba(255, 255, 255, 0.35);

    div.head-box {
        height: 65px;
        padding: 0 20px;
        font-size: 20px;
        color: #ffffff;
        overflow: hidden;
        line-height: 65px;
        width: calc(100% - 40px);
        background-color: rgba(255, 255, 255, 0.35);
    }

    div.function-box {
        padding: 20px;
        overflow: hidden;
        overflow-y: scroll;
        position: relative;
        width: calc(100% - 40px);
        height: calc(100% - 190px);

        div.van-notice-bar {
            color: #ffffff;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.35);
        
            div.van-notice-bar__content {
                color: #ffffff;
            }
        }

        div.online-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            div.user-item {
                width: 100%;
                height: 38px;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                border-radius: 5px;
                margin-bottom: 20px;
                background-color: rgba(255, 255, 255, 0.35);

                div.item-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    img.user-avatar {
                        width: 38px;
                        height: 100%;
                    }
    
                    span.user-nick {
                        color: #ffffff;
                        margin-left: 10px;
                    }
    
                    span.user-radio {
                        width: 8px;
                        height: 8px;
                        right: 15px;
                        border-radius: 5px;
                        position: absolute;
                        background-color: var(--dominColor);
                    }
                }
            }
        }
    }

    button.report-button {
        height: 50px;
        margin: 0 auto;
        display: block;
        font-size: 1rem;
        margin-top: 10px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 1450px) {
    div.chat-function {
        display: none;
    }
} 