
@dominColor: var(--dominColor);

span.chat-message[data-type="clap"] {
    margin: 10px auto 35px;
}

span.chat-message[data-type="text"],span.chat-message[data-type="file"],span.chat-message[data-type="image"] {
    margin-bottom: 30px;
    text-align: justify;
    word-break: break-all;

    think {
        padding: 15px;
        display: block;
        font-size: 14px;
        border-radius: 6px;
        margin: 5px 0 10px;
        background-color: #f1f1f1;
    }

    think + br {
        display: none;
    }

    &:last-child {
        margin-bottom: 20px;
    }

    div.message-info {
        height: auto;
        display: flex;
        min-height: auto;

        div.content-box + span.avatar-info {
            margin-left: 15px;
        }

        span.avatar-info + div.content-box {
            margin-left: 15px;
        }

        div.content-box {
            display: flex;
            flex-direction: column;

            div.user-info {
                height: 14px;
                display: flex;
                user-select: none;
                align-items: center;

                span.user-name {
                    font-size: 14px;
                    line-height: 100%;
                    font-weight: bold;
                    color: @dominColor;
                }

                span.user-time {
                    opacity: 0.75;
                    font-size: 14px;
                    line-height: 100%;
                    font-weight: bold;
                    color: rgba(60, 60, 67, 0.65);
                }

                span.user-tags {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span.user-time + span.user-name {
                    margin-left: 10px;
                }

                span.user-name + span.user-time {
                    margin-left: 10px;
                }

                span.user-tags + span.user-name {
                    margin-left: 10px;
                }
            }

            div.message-content {
                margin-top: 15px;
                overflow: hidden;
                padding: 10px 15px;
                border-radius: 6px;
                white-space: nowrap;
                word-break: break-all;
                text-overflow: ellipsis;
                color: rgba(60, 60, 67, 0.65);
            }

            div.message-content {
                min-height: 40px;
                font-weight: 700;
                max-width: 420px;
                line-height: 28px;
                white-space: normal;
                display: inline-block;
                word-wrap: break-word;
                overflow-wrap: break-word;
                border: 1px solid #c5ccdf;
                background-color: #ffffff;
            }
        }

        div.avatar-info {
            width: 55px;
            height: 55px;
            display: inline;
            font-size: 12px;
            min-width: 55px;
            cursor: pointer;
            color: #ffffff;
            overflow: hidden;
            position: relative;
            border-radius: 6px;

            div.avatar {
                width: 100%;
                height: 100%;
            }
        }

        div.avatar-info[type = "admin"] {
            &::after {
                bottom: 0;
                width: 100%;
                height: 24px;
                content: "管理员";
                line-height: 24px;
                text-align: center;
                position: absolute;
                background-color: rgba(5, 160, 150, 0.75);
            }
        }

        div.avatar-info[type = "robot"] {
            &::after {
                bottom: 0;
                width: 100%;
                height: 24px;
                content: "机器人";
                line-height: 24px;
                text-align: center;
                position: absolute;
                background-color: rgba(121, 187, 255, 0.75);
            }
        }

        div.avatar-info + div.content-box {
            margin-left: 15px;
        }

        div.content-box + div.avatar-info {
            margin-left: 15px;
        }
    }
}

span.chat-message[data-type="image"],span.chat-message[data-type="file"] {
    div.message-content {
        border: unset!important;
    }
}

div.content-frame.frame-mobile {
    span.chat-message[data-type="text"], span.chat-message[data-type="file"], span.chat-message[data-type="image"] {
        div.message-info {

            div.avatar-info {
                width: 50px;
                height: 50px;
                min-width: 50px;
            }

            div.content-box {
                width: calc(100% + 20px);

                div.user-info {
                    span.user-name {
                        color: rgba(60, 60, 67, 0.65);
                    }
                }

                div.message-content {
                    border: unset;
                    max-width: unset;
                }
            }
        }
    }

    span.chat-message[data-type="image"],span.chat-message[data-type="file"] {
        div.message-info {
            div.content-box {
                div.message-content {
                    width: calc(85% + 25px);
                }
            }
        }
    }
}

span.chat-message {
    &:last-child {
        margin-bottom: 10px!important;
    }
}