
div.content-frame {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 60px);

    div.chat-content-box {
        padding: 20px;
        overflow: hidden;
        display: flex;
        overflow-y: scroll;
        position: relative;
        flex-direction: column;
        width: calc(100% - 40px);
        height: calc(100% - 120px);

        div.empty-box {
            transform: scale(1.25);
        }
    }
}

div.content-frame.frame-mobile {
    div.chat-content-box {
        height: calc(100% - 110px);
    }
}